.woocommerce-cart {
    // Remove "Estimate for XXX" text
    .woocommerce-shipping-destination {
        display: none;
    }

    .cart_item {
        td {
            padding: $gutter;
        }
    }

    .woocommerce-cart-form {
        .shop_table {
            td {
                @media screen and (max-width: $mobile-breakpoint) {
                    padding: 5px;

                    &.product-quantity {
                        text-align: center;
                    }

                    .quantity {
                        .qty {
                            width: 50px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .cart-collaterals {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: $gutter 0;

        .cart_totals {
            width: 100%;
        }

        .shop_table {
            width: 100%;

            tr {
                margin: $gutter/2 0;
            }

            th {
                text-align: right;
            }

            td {
                text-align: left;
            }

            th,
            td {
                padding: $gutter;
            }

            ul {
                list-style: none;
            }

            ul,
            p {
                margin: 0;
                padding: 0;
            }

            .shipping-calculator-form {
                width: 200px;
            }

            .form-row {
                margin: $gutter 0;

                .select2-container--default .select2-selection--single,
                .input-text {
                    width: 200px;
                    font: inherit;
                    border: 1px solid #aaa;
                    border-radius: $border-radius;
                    box-sizing: border-box;
                }

                .input-text {
                    padding: 8px;
                }
            }
        }

        .wc-proceed-to-checkout {
            margin: $gutter;
        }
    }
}