.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup {
    .woocommerce-error {
        background: lighten($brand-color, 30);
        padding: 20px 40px;
        border-radius: $border-radius;

        strong {
            color: $brand-color;
        }
    }
}

