.woocommerce-notices-wrapper,
.woocommerce-NoticeGroup {
    .woocommerce-error {
        background: lighten($brand-color, 30);
        padding: $gutter;
        
        strong {
            color: $brand-color;
        }
    }
}

