.woocommerce-order-received {
    h2 {
        text-align: center;
    }

    .woocommerce-notice--success {
        background: $success-color;
        padding: $gutter;
        border-radius: $border-radius;
        text-align: center;
    }

    .woocommerce-table--order-details {
        width: 100%;

        tfoot {
            th {
                text-align: right;
            }
        }
    }

    .woocommerce-columns--addresses {
        display: flex;

        .woocommerce-column {
            width: 50%;
        }
    }
}