.woocommerce-orders-table {
    .woocommerce-orders-table__row--status-failed {
        .woocommerce-orders-table__cell-order-actions {
            .button {
                pointer-events: none;
                display: none;

                &.view {
                    display: inline-block;
                    pointer-events: all;
                }
            }
        }
    }
}