$brand-color: #cd576f !default;
$brand-secondary-color: gold !default;
$dark-color: #292929 !default;
$success-color: rgb(200, 255, 137) !default;

$main-content-width: 100px !default;
$mobile-breakpoint: 980px !default;
$gutter: 10px !default;
$button-bg-color: $brand-color !default;
$button-color: lighten($button-bg-color, 50) !default;
$border-radius: 6px !default;