$brand-color: #cd576f !default;
$dark-color: #292929 !default;

$main-content-width: 100px !default;
$mobile-breakpoint: 980px !default;
$gutter: 10px !default;
$button-bg-color: $brand-color !default;
$button-color: lighten($button-bg-color, 50) !default;