{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

    <body>
        <section role="main" class="content-wrapper">
        {% block content %}
            Content is coming... soon :)
        {% endblock %}
        </section>

        {% block footer %}
        <footer>
            {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>