{% block html_head_container %}
{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

    <body>
        <nav>
            <ul>
            {% for item in menu.items %}
                <li>
                    <a href="{{ item.link }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </nav>

        <main>
        {% block content %}
            Content is coming... soon :)
        {% endblock %}
        </main>

        {% block footer %}
        <footer>
            {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
        {% endblock %}
    </body>
</html>