{% if available_payment_gateways is not empty %}
<div class="available-payment-gateways">
You can pay with 
{% for key, payment_gateway in available_payment_gateways %}
    <span class="payment-gateway payment-gateway-{{ key }}">{{ payment_gateway.get_title() }}</span>
{% endfor %}
</div>
{% endif %}

<div class="vat-notice">
    <small>Our prices are VAT-exclusive.</small>
</div>

<dl>
    <dt>Brain Burgeon Ltd</dt>
    <dd>
        <p>Registered in England and Wales</p>
        <p>Company number 08951713</p>
        <p>VAT number 314593308</p>
    </dd>
</dl>