<form role="search" method="get" class="searchform" action="{{ site.url }}">
	<div class="row">
		<input type="text" value="" name="s" class="input-text" placeholder="{{ __('Product', 'liliom') }}">
		<input type="submit" value="{{ __('Search', 'liliom') }}" class="button">
	</div>
</form>