{% extends 'base.twig' %}

{% block content %}
    <h1 class="page-title">{{ title }}</h1>

    {% if posts is empty %}
    <p>¯\_(ツ)_/¯</p>
    {% else %}
    <ol>
        {% for post in posts %}
        <li><a href="{{ post.link }}">{{ post.title }}</a></li>
        {% endfor %}
    </ol>
    {% endif %}
{% endblock %}