{% extends 'base.twig' %}

{% block content %}
{% if function('is_page') %}
    <h1 class="page-title">{{ function('single_post_title') }}</h1>
{% elseif function('is_archive') %}
    {% set title = function('get_the_archive_title') %}
    {% set title_split = title|split(': ') %}
    {% if title_split|length > 1 %}
        <h1 class="page-title">{{ title_split[1] }}</h1>
    {% else %}
        <h1 class="page-title">{{ title }}</h1>
    {% endif %}
{% endif %}
    
    {{ function('woocommerce_content') }}
{% endblock %}