.is-checkout {
    a {
        color: inherit;
    }

    .page-header {
        pointer-events: none;

        .header-content {
            display: none;
        }

        .logo {
            padding-left: 0;
            border: none;
            background: none;
            margin: 0 auto;
        }
    }

    .page-footer {
        pointer-events: none;
        background: none;
        color: inherit;
        box-shadow: none;
        line-height: normal;
        padding: 3px;
        opacity: .8;
        
        dt {
            font-family: $font-family-body;
            letter-spacing: normal;
            font-weight: normal;
        }
    }

    td {
        &.product-name {
            display: flex;
            align-items: center;

            .the-product {
                width: 48vw;
            }
        }

        &.product-total {
            text-align: center;
        }
    }

    tfoot {
        th {
            text-align: right;
        }
    }

    .place-order {
        margin: $gutter * 6 0;
        text-align: center;

        .woocommerce-terms-and-conditions-wrapper {
            font-size: .9rem;
            text-align: left;
        }
    }

    #place_order {
        margin-top: $gutter * 5;
    }
}

#ship-to-different-address {
    text-align: center;
    font-size: 1.2rem;
}

.wc_payment_methods {
    list-style: none;
    padding: 0;
}

.wc_payment_method {
    .input-radio {
        vertical-align: middle;
    }

    .payment_box {
        font-size: .9rem;

        @media screen and (min-width: $breakpoint-small + 1) {
            margin-left: $gutter * 2;
        }
    }
}

.wc-payment-form {
    border: none;
    margin: 0;
    padding: 0;

    .wc-stripe-elements-field {
        @extend .input-text;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}