.page-content {
    flex-grow: 1;
    width: $main-content-width;
    margin: $gutter auto;

    @media screen and (max-width: $main-content-width + $gutter * 2) {
        margin: $gutter;
        width: auto;
    }
}