.page-footer {
    color: $color-black-muted;
    margin-top: 30px;

    .available-payment-gateways {
        padding: $gutter * 2 $gutter;
        text-align: center;

        .payment-gateway {
            font-weight: bold;

            &:not(:last-child) {
                &:after {
                    content: ', ';
                    font-weight: normal;
                }
            }

            &:nth-last-child(2) {
                &:after {
                    content: ' or ';
                    font-weight: normal;
                }
            }
        }
    }

    .vat-notice {
        margin-bottom: $gutter;
        color: $color-pink;
    }

    dl,
    dd,
    p {
        margin: 0;
    }

    dl {
        padding: $gutter;
        font-size: .7rem;
        font-weight: normal;
        line-height: 20px;
        background-color: $color-black-muted-very-well;
    }

    dt {
        font-weight: bold;
        letter-spacing: 1.2px;
    }

    @media screen and (min-width: $breakpoint-medium + 1) {
        text-align: center;

        dd {
            display: flex;
            justify-content: center;

            p:not(:last-child) {
                &:after {
                    content: '—';
                    display: inline-block;
                    margin: 0 $gutter / 2;
                    opacity: .3;
                }
            }
        }
    }
}