.shop_table {
    width: 100%;
    border-spacing: 0 $gutter * 1.5;

    .amount {
        font-family: $font-family-heading;
        letter-spacing: 2px;
    }

    .cart_item {
        &:nth-child(odd) {
            background-color: $color-white-muted;
            transform: skewX(-2deg);
        }

        &:nth-child(even) {
            transform: skewX(2deg);
        }
    }

    .product-remove {
        vertical-align: top;

        .remove {
            text-decoration: none;
            color: rgba($color-pink, .6);
            padding: $gutter / 2;

            &:hover {
                color: $color-pink;
            }
        }
    }

    .product-name {
        text-align: left;

        .the-product-name {
            font-weight: bold;
        }

        .the-brand-name,
        .the-info {
            color: $color-black-muted;
            font-size: .8rem;
        }
    }

    .product-thumbnail {
        display: none;
    }

    td {
        text-align: center;
    
        &.product-quantity {
            label {
                display: none;
            }
    
            .qty {
                text-align: center;
                width: 60px;
    
                @media screen and (max-width: $breakpoint-small) {
                    width: 45px;
                }
            }
        }

        &.product-price {
            font-size: .8rem;
        }
    }

    .order-total {
        background-color: $color-white;

        td {
            padding: 10px 0 5px;

            strong {
                display: inline-block;
                position: relative;
                font-family: $font-family-heading;
                font-size: 1.2rem;
                letter-spacing: 2px;
                color: $color-pink;

                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 110%;
                    height: 110%;
                    background-color: rgba($color-pink, .2);
                    transform: skewX(-10deg) rotate(-3deg) translate(-5%, -2.5%);
                    transform-origin: left center;
                }
            }
        }
    }
}

.cart-collaterals {
    .shop_table {
        th,
        td {
            width: 50%;
        }

        th {
            text-align: right;
            padding-right: $gutter;
        }

        td {
            text-align: left;
            padding-left: $gutter;
        }
    }

    .wc-proceed-to-checkout {
        margin: $gutter * 3 0 $gutter * 6;
        text-align: right;
    }
}