$gutter: 12px;
$main-content-width: 980px;
$breakpoint-medium: 812px;
$breakpoint-small: 576px;

$muted-value: .7;
$muted-well-value: .2;
$muted-very-well-value: .08;

$color-white: #fefcf8;
$color-white-muted: rgba($color-white, $muted-value);
$color-black: #2f2f2f;
$color-black-muted: rgba($color-black, $muted-value);
$color-black-muted-very-well: rgba($color-black, $muted-very-well-value);
$color-pink: #fd5f81;
$color-pink-muted-well: rgba($color-pink, $muted-well-value);
$color-gold: #fbf0a2;
$color-blue: #028af1;

$font-family-heading: Futura, Trebuchet MS, Arial, sans-serif;
$font-family-body: medium-content-sans-serif-font, -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

@import 'forms';
@import 'notices';
@import 'animations';
@import 'page';
@import 'product';
@import 'checkout';
@import 'product-list';
@import 'pagination';
@import 'shop-table';
@import 'basket';
@import 'payment';
@import 'brand-list';

html {
    font-family: $font-family-body;
    font-size: 18px;
    font-weight: 500;
    color: $color-black;
    line-height: 1.5;
    height: 100%;
}

body {
    background-color: rgba(114, 137, 218, 0.2);
    background-color: rgba(244, 191, 228, 0.6);
    min-height: 100%;
}

h1,
h2,
h3 {
    font-family: $font-family-heading;
}

h1 {
    font-size: 1.8rem;
    transform: rotate(-2deg) translateX(-$gutter / 2);
    transform-origin: left bottom;
}

h2,
h3 {
    font-size: 1.4rem;
}

a {
    color: $color-blue;
    text-decoration: none;

    &:hover {
        color: $color-pink;
    }
}
